# Токен бота получаем в @BotFather
# Подключем токен через loader.py и создаем объект bot

BOT_TOKEN = "**************"



# Токен API получаем на https://rapidapi.com/airlabsco/api/aerodatabox
# В config.py, указываем в api_key путь к токену

SITE_API = "***************"



# Хост API получаем на https://rapidapi.com/airlabsco/api/aerodatabox
# В config.py, в host_api указываем путь хосту
HOST_API = "aerodatabox.p.rapidapi.com"